<!DOCTYPE html>
<html>
<head>
  <title>Kate Dramstad Cover Letter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="fullcolor">
	<div id="page">
		<div id="homepage" class="fullcolor">
			<h2>a cover letter / love letter</h2>
			<h1><%= link_to "Dear RocksBox...", pieces_path, :class=>"entrancelink" %></h1>
			<h2>xoxo - Kate Dramstad</h2>
		</div>
	</div>
</body>
</html>